{% extends 'base.html' %}
{% block title %}California{% endblock %}

{% block content %}
<h2>California</h2>
<ul>
    <a href=""><li>California</li></a>

    <p> Display Average of 6 different Job Titles here in Cards </p>

    <br>
    <h3>ADVISORY</h3>
    <p>{{advisory}}</p>
    
    <h3>California Job History</h3>
    
    <div class="row">
      <div class="col-sm-8">               
        <h4> Jobs: on record: {{ jobs | length }}</h4>
        <ul>
        {% for job in jobs %}
        <li>
            <p><b>Job Title: </b> {{job.job_title}} PSO Contractor: {{job.cont_company}} - {{job.location}} - <b>Day Rate:</b> $ {{job.day_rate}}</p>
        </li>
        {% endfor %}
        </ul>
        </div>
    </div>
{% endblock %}
