{% extends 'base.html' %}
{% block title %}Columbia{% endblock %}

{% block content %}
<h2>Columbia</h2>
<div class="card">
    <div class="card-body">
  <p> Display Average of 6 different Job Titles here in Cards </p>
  </div>
  </div>
  
  <div class="card">
    <div class="card-body">
  <h3>ADVISORY</h3>
  <p>{{advisory}}</p>
  </div>
  </div>
  
  <div class="card">
    <div class="card-body">
  <h3>Antartica Job History</h3>
  
  <div class="row">
    <div class="col-sm-8">               
      <h4> Jobs: on record: {{ jobs | length }}</h4>
      <ul>
      {% for job in jobs %}
      <li>
        <p><b>Job Title: </b> {{job.job_title}} <b></b>PSO Contractor:<b></b> {{job.cont_company}} - {{job.location}} - <b>Day Rate:</b> $ {{job.day_rate}}</p>
      </li>
      {% endfor %}
      </ul>
      </div>
  </div>
  </div>
  </div>
  {% endblock %}
