{% extends 'base.html' %}
{% block title %}Uruguay{% endblock %}

{% block content %}
<h2>Uruguay</h2>

<p> Display Average of 6 different Job Titles here in Cards </p>

<br>
<h3>ADVISORY</h3>
<p>{{advisory}}</p>

    <h3>Uruguay Job History</h3>
    
    <div class="row">
      <div class="col-sm-8">               
        <h4> Jobs: on record: {{ jobs | length }}</h4>
        <ul>
        {% for job in jobs %}
        <li>
            <p><b>Job Title: </b> {{job.job_title}} - {{job.location}} - <b>Day Rate:</b> $ {{job.day_rate}}</p>
        </li>
        {% endfor %}
        </ul>
        </div>
    </div>
{% endblock %}
