{% extends 'base.html' %}
{% block title %}Region 8{% endblock %}

{% block content %}

<h2>
    <a href="/russia">Russia</a>
</h2>

<div class="center">
  <div class="card-deck">
<div class="card">
    <h2>Russia</h2>
    <div class="card-body">
  <p> Dayrates displayed in US Dollars</p>
<p>Average dayrate of all Job Titles: $ {{russia_avg}}</p>
 </div>
  </div>

</div> 
</div>
  <p class="center">For more specific details of day-rates in individual countries, please click their link above</p>

{% endblock %}
