{% extends 'base.html' %}
{% block title %}Select Your Region{% endblock %}

{% block content %}
<h2>Northern Pacific Ocean</h2>
<ul>
    <a href="/alaska"><li>Alaska</li></a>
    <p>Display the 6 job titles and their average dayrate data from this region</p>
    <p>For regions with multiple countries or specific places, they will be able to click a link for extra specific information - api call for vaccine info will happen there</p>
    <p>For regions with only one area, the link to the country name will be disabled and the API Output to give you travel and vaccination info will occur here directly</p>
</ul>
{% endblock %}
