{% extends 'base.html' %}
{% block title %}Region 19{% endblock %}

{% block content %}

<h2>
    <a href="/gulf_of_mexico">Gulf Of Mexico</a> /
    <a href="/caribbean">Caribbean</a> / 
    <a href="/guyana">Guyana</a> / 
    <a href="/suriname">Suriname</a> / 
    <a href="/brazil">Brazil</a> / 
    <a href="/french_guiana">french_guiana</a>
</h2>

    <p>TODO: Display the 6 job titles and their average dayrate data from the average of the overall region</p>
    <p>For more specific details of day-rates in individual countries, please click their link above</p>
  
{% endblock %}
