{% extends 'base.html' %}
{% block title %}Region 18{% endblock %}

{% block content %}

<h2>
    <a href="/mexico">Mexico (Pacific)</a> /
    <a href="/gulf_of_mexico">Gulf Of Mexico</a> /
    <a href="/columbia">Columbia</a> / 
    <a href="/ecuador">Ecuador</a> / 
    <a href="/peru">Peru</a>
</h2>

    <p>TODO: Display the 6 job titles and their average dayrate data from the average of the overall region</p>
    <p>For more specific details of day-rates in individual countries, please click their link above</p>
  
{% endblock %}

